{% extends "base.html" %}
{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
    <div class="flashes ">
    {% for message in messages %}
    <div class="text-center  container-fluid col-12"style="; background-color: ; width:300px; ">{{ message }}</div>
    {% endfor %}
    </div>
{% endif %}
{% endwith %}
<form method="POST" action="" enctype="multipart/form-data">
  {{ form.csrf_token }}
<div class="card text-center card text-center col-12 col-sm-12 col-md-8 col-lg-6 col-xl-6 offset-sm-2 offset-2 offset-xl-2 offset-md-2 offset-lg-2 mt-5" style="margin-bottom:-15%; width: 70%; ">
  <div class="card-header text-center text-light" style="background-color:#777779 ;">
    <h2>{{ product.title }}</h2>
  </div>
  <div class="card-body">
    <h4 class="card-title">{{product.subtitle}}</h4>
    <img src="/static/storage/{{product.img }}" style="width: 80%; height:350px" class="card-img-top" alt="...">
    <fieldset>
    <p class="card-text">
      <div>
        R$: {{ product.prices }}
      </div>
        Quantidade: {{units.unit(class="mt-1 mb-1", style="width:80px")}}
    </p>
    <a class="btn btn-secondary btn-sm mt-1 mb-1" href="/products/list">Voltar</a>
    {{units.submit(class="btn btn-secondary btn-sm mt-1 mb-1")}}
  </fieldset>
  </div>
</div>
</form>
{% endblock content %}