{% extends 'base.html' %}
  
{% block content %}

<div class="home container-fluid">
  <div class="home1 text-center wow fadeInDown container-fluid" style="background-color: ; ">
    <h1 class="text-light wow fadeInUp" style="">Seu sistema para fazer compras</h1>
    <h1 class="text-light wow fadeInRight" style="">Compre qualquer um de nossos produtos sem sair de casa</h1>
    <h1 class="text-light wow fadeInLeft" style="">Você precisa apenas se cadastrar e selecionar os produtos</h1>
  </div>
</div>

<div class=" container-fluid text-center" style="margin-top: 10%;">
  <h1 class="">Entre em contato com a gente pelo nosso numero: 423432-423432</h1>
  <h2 class="">Agradecemos a preferência</h2>
</div>



  
 
{% endblock %}   
